body {
    background-image: url(../img/body-background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #000000;
    margin: 50px 0 50px;
    font-family: 'Lato', sans-serif;
}


h1,
h2,
h3,
h4,
h5,
h6,
h7 {
    font-family: 'Titan One', cursive;
}

section {
    padding: 50px 0;
}

/* BOOTSTRAP REPAIR */
.col {
    padding: 0;
    text-align: center;
}

.container-fluid {
    /* padding: 0; */
}


/*** BUTTONS RED ***/
.button-red {
    background-image: url('../img/button-red.svg');
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;

    color: #FFFFFF;
    padding: 15px 0;
    width: 240px;
    text-transform: uppercase;

    position: relative;
    /* position relative for border .svg */
}

.button-red:hover:after {
    background-image: url('../img/button-border.svg');
    background-repeat: no-repeat;
    background-color: transparent;
    color: #FFFFFF;

    width: 260px;
    height: 80px;

    position: absolute;
    left: -8px;
    top: -15px;
    content: "";
}




/* ******************** SECTION VIDEO-DOUBLE ******************** */

#video-double .video-container {
    overflow: hidden;
    height: auto;
    position: relative;
}

#video-double .video-double-itself {
    vertical-align: middle;
    margin-left: 50%;
    transform: translateX(-50%);
}

#video-double .row {
    position: relative;
    /* For .cloud position absolute */
}

#video-double .cloud {
    display: inline-block;
    padding: 0;
    width: auto;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: 0 auto;
    z-index: 3;
}

#video-double .video-text {
    position: absolute;
    top: 180px;
    left: 0;
    right: 0;
    margin-left: 50%;
    transform: translateX(-50%);
    z-index: 5;

    width: 250px;
    height: 200px;

    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

#video-double .video-logo {
    display: block;
    height: 100px;
    margin: 15px 0;
}

#video-double .red-line-container {
    position: relative;
    height: 10px;
    overflow: hidden;
}

#video-double .red-line-itself {
    position: absolute;
    top: -5px;
    left: -20px;
    width: 110%;
    height: 20px;
}







/* ******************** SECTION TIMELINE ******************** */

#section-timeline {
    text-align: center;
}

.timeline-p {
    margin: 50px 0;
}




















/* TEST TEST TEST TEST TEST TEST TEST TEST
TEST TEST TEST TEST TEST TEST TEST TEST
TEST TEST TEST TEST TEST TEST TEST TEST
TEST TEST TEST TEST TEST TEST TEST TEST */



#test {
    margin-top: 2000px;
}


/* TEST ICON */

.icon-div {
    overflow: hidden;
    width: 500px;
    margin: 0 auto;
}

.icon {
    width: 900px;
    margin-left: 50%;
    transform: translateX(-50%);
}

/* TEST TECHLAND STYLE */

.test {
    position: relative;
}

.test::after {

    background-image: url('../img/cloud.png');
    background-position-x: 50%;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    height: 100%;
    margin: 0 auto;
    pointer-events: none;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    width: 250px;
    z-index: 9;
}


.video-test {
    vertical-align: middle;
}